
body {
  font-family: 'Helvetica';
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
  width: 510px;
}

a {
  color: #da552f;
  text-decoration: none;
  font-weight: 400;
}

b {
  font-weight: 400;
}

h2 {
  font-size: 20px;
  font-family: 'Helvetica';
  font-weight: 700;
  margin: 0px;
}

.question {
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #ffffff;
}

.question--header {
  height: 60px;
  padding-top: 5px;
}

.question--header--logo {
  width: 147px;
  /*float: right;*/
  margin-bottom: 10px;
}

.question--footer {
  height: 50px;
  padding-top: 5px;
  margin: 0px;
}

.highlight {
  background-color: #EF7F5F;
}

.question--content {
  font-family: 'Helvetica';
  font-size: 36px;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  position: relative;
}

.question--content::before {
  content: '';
  display: block;
  width: 160px;
  height: 10px;
  background-color: #800080;
  position: absolute;
  top: -32px;
  left: 10px;
}

.question--footer--user-name {
  font-size: 24px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 5px;
}

.question--footer--avatar {
  float: left;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.question--footer--avatar img {
  border-radius: 50%;
  float: left;
}
